{% extends 'app/base.html' %}
{% load static %}
{% block title %}Najot Ta'lim - Barcha kitoblar{% endblock title %}

{% block content %}
<h2 class="section-title">Barcha kitoblar</h2>

<div class="books-grid">
    {% for book in books %}
    <div class="book-card">
        <img src="{{ book.book_pic.url }}" alt="{{ book.title }}">
        <h3>{{ book.title }}</h3>
        <p class="author-name">Muallif: {{ book.author.name }}</p>
        <p class="description">{{ book.description|truncatewords:20 }}</p>
        <a href="{% url 'book_detail' book.pk %}" class="detail-btn">Batafsil</a>
    </div>
    {% empty %}
    <p>Hozircha kitoblar mavjud emas.</p>
    {% endfor %}
</div>
{% endblock content %}
